body {
    background-color: imm;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: rgb(157, 255, 0);
}

p {
    color: rgba(128, 0, 122, 0.71);
    font-size: 18px;
}